.hero {
  text-align: center;
  background: #956769;
  color: #fff;
  padding-top: 68px;
  padding-bottom: 10px;
}
.hero h1 {
  font-family: "Nixie One", cursive;
  font-size: 42px;
  margin: 18px 0;
}
.hero h2 {
  font-family: "Libre Baskerville", serif;
  margin: 18px 0;
  font-size: 22px;
}
.hero span {
  font-family: "Libre Baskerville", serif;
}

.content {
  margin-top: 52px;
}
.content h2 {
  font-family: "Nixie One", cursive;
  background: #956769;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}
.content p {
  font-family: "Libre Baskerville", serif;
}
.content span {
  display: flex;
  justify-content: center;
  color: #fbb040;
  text-decoration: underline;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 52px;
}
.btn-branding {
  padding: 12px 32px;
  background: #fbb040;
  margin-top: 32px;
  border: 1px solid #fbb040;
  border-radius: 22px;
}
.project-link {
  text-decoration: none;
}

.project-link:hover {
  color: #fff;
}
.project-link:visited {
  color: #1b0d1c;
}
.footer {
  text-align: center;
  padding: 60px;
  margin-top: 52px;
  background: #956769;
  color: white;
}
.footer-link {
  margin-right: 10px;
}
.footer span {
  font-family: "Libre Baskerville", serif;
  font-size: 22px;
  text-decoration: underline;
}
.footer div {
  font-family: "Nixie One", cursive;
  font-style: italic;
}
.social-media {
  display: flex;
  justify-content: center;
}
